@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@300&display=swap');

.App {
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Major Mono Display', monospace;
}

.main-header-app{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  background-color: #212121;
  color: whitesmoke;
  font-family: 'Major Mono Display', monospace;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  * {
  box-sizing: border-box;
  }
  
  ul,
  li {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
  padding: 20px;
  border-radius: 25px;
  }
  
  li {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  }
  
  li:last-child {
  margin-bottom: 0px;
  }
  
  .avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  }
  
  .avatar img {
  width: 40px;
  border-radius: 100%;
  }
  
  .row {
  margin-top: 12px;
  }
  
  img {
  width: 60px;
  height: 60px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: img img item2 item2;
    grid-gap: 10px;
    padding: 10px;
  }